<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wincollectd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <wincollectd.Properties.Settings>
            <setting name="LogSource" serializeAs="String">
                <value>wincollectd</value>
            </setting>
            <setting name="LogName" serializeAs="String">
                <value>wincollectd</value>
            </setting>
            <setting name="ServerHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ConsoleMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigFilename" serializeAs="String">
                <value>collectd.conf</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>25826</value>
            </setting>
            <setting name="MaxPacketSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ProgramName" serializeAs="String">
                <value>wincollectd</value>
            </setting>
            <setting name="ServiceStartMode" serializeAs="String">
                <value>Manual</value>
            </setting>
            <setting name="ServiceAccount" serializeAs="String">
                <value>LocalSystem</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>wincollectd</value>
            </setting>
            <setting name="ServiceDisplayName" serializeAs="String">
                <value>wincollectd System Statistics Collector Service</value>
            </setting>
            <setting name="ServiceDescription" serializeAs="String">
                <value>Performs system statistics collection and network delivery to a remote collectd server.</value>
            </setting>
        </wincollectd.Properties.Settings>
    </applicationSettings>
</configuration>